<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
    <style>
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .movieDisplaySection {
        width: 500px;
        height: 300px;
        line-height: 300px;
        text-align: center;
        background-color: lightgray;
      }
    </style>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <main>
      <section class="movieDisplaySection">
        정면
      </section>
      <ul class="seat_container">
        <% let prevRowChar = ''; %> <% for(let i = 0; i < seats.length; i++) { %>
        <% if (seats[i].rowChar !== prevRowChar) { %> <% if (i !== 0) { %>
      </ul>
      <% } %>
      <li class="seat_row">
        <ul class="seats">
          <% prevRowChar = seats[i].rowChar; %> <% } %>
          <li
            class="seat"
            data-checked="false"
            data-seatid="<%= seats[i].seatId %>"
            data-hallid="<%=seats[i].hallId %>"
            data-theaterId="<%=seats[i].theaterId %>"
          >
            <%= seats[i].rowChar %><%= seats[i].colNumber %>
          </li>
          <% } %>
        </ul>
      </li>
    </ul>
    <form action="/ticket/booking" method="post" class="user_info">
      <label for="phone_number">전화번호: </label><input type="text" name="phoneNumber" id="phone_number" pattern="\d{3}-\d{4}-\d{4}" required > <br>
      <label for="usr_pwd">비밀번호: </label><input type="text" name="pwd" id="usr_pwd" pattern="\d{4}" required > <br>
      <input type="hidden" style="display: none;" name="seats" id="seats_arr">
      <input type="hidden" style="display: none;" name="screeningMovieId" id="screening_movie_id">
      <button type="button" class="submit_btn">예약하기</button> <br>
    </form>
  </main>
  </body>
  <script>
    let seatsArr = []
    let result = '<%- JSON.stringify(result) %>';
    let reservedSeats = '<%- JSON.stringify(reservedSeats) %>';
    result = JSON.parse(result);
    reservedSeats = JSON.parse(reservedSeats);
    screeningMovie = result[0];

    const maxNum = 4;
    document.querySelectorAll('.seat').forEach((seat) => {
      if(reservedSeats.some(item => item.seatId == seat.dataset.seatid)) {
        seat.style.backgroundColor = 'lightgray';
      }
    })
    document.querySelectorAll('.seat').forEach((seat) => {
      seat.addEventListener('click', (e) => {
        const target = e.currentTarget;
        //만약 좌석이 예약되있으면 클릭X
        if(reservedSeats.some(item => item.seatId == target.dataset.seatid)) {
          event.preventDefault(); // 기본 동작(링크 이동 등)을 취소
          event.stopPropagation(); // 이벤트 전파를 막음
          return;
        }
        const ticketId = target.dataset.seatid + target.dataset.hallid + target.dataset.theaterid + screeningMovie.screeningMovieId;
        if(target.dataset.checked === 'false') {
          if(maxNum === seatsArr.length) {
            return;
          }
          target.dataset.checked = 'true';
          target.style.backgroundColor = 'lightblue';
          // 여기에 서버에서 Date.now()추가하면 될듯.
          //이거 객체로 바꾸기.
          seatsArr.push({
            ticketId: ticketId,
            seatId: target.dataset.seatid,
            hallId: target.dataset.hallid,
            theaterId: target.dataset.theaterid
          });
        } else {
          target.dataset.checked = 'false';
          target.style.backgroundColor = 'white';
          seatsArr = seatsArr.filter(item => item.ticketId !== ticketId);
        }
      })
    })
    //전화번호, 비밀번호 체크 추가하기
    document.querySelector('.submit_btn').addEventListener('click', (e) => {
      if (seatsArr.length === 0) {
        alert("좌석을 선택해주세요!");
        return;
      } else if(document.querySelector('#phone_number').value === '' || document.querySelector('#usr_pwd').value === '' || document.querySelector('#usr_pwd').value.length != 4) {
        alert("전화번호, 비밀번호 4자리 입력해주세요.");
        return;
      } else {
        document.getElementById('seats_arr').value = JSON.stringify(seatsArr);
        document.getElementById('screening_movie_id').value = screeningMovie.screeningMovieId;
      }

      document.querySelector('.user_info').submit();
    });
  </script>
</html>
