<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <h1><%= theaterName %>에서 상영중인 영화</h1>
    <h2></h2>
    <ul style="display: block" class="movie_date"></ul>

    <ul classs="screening_movie_container">
      <% for(let i = 0; i < result.length; i++) { %>
      <li
        class="screening_movie"
        data-movieid="<%= result[i].movieId %>"
        data-hallId="<%= result[i].hallId %>"
        data-theaterId="<%= theaterId %>"
        data-screeningDay="<%= result[i].screeningDay %>"
        style="display: none"
      >
        <form action="/ticket" method="GET">
          <h3><%= result[i].title %></h3>
          <p>관: <%= result[i].hallName %></p>
          <p>시작일: <%= result[i].screeningDay %></p>
          <p>시작시간: <%= result[i].startTime %></p>
          <p>종료시간: <%= result[i].endTime %></p>
          <input
            type="hidden"
            name="screeningId"
            value="<%= result[i].screeningId %>"
          />
          <button>예매하기</button>
        </form>
      </li>
      <%} %>
    </ul>
  </body>
  <script>
    let result = '<%- JSON.stringify(result) %>';
    result = JSON.parse(result);

    let currentDate = new Date();
    let formatedDate = formatDate(currentDate);

    for (let i = 0; i < 4; i++) {
      document.querySelector('.movie_date').insertAdjacentHTML(
        'beforeend',
        `
        <li>${formatedDate}</li>
        `
      );
      currentDate.setDate(currentDate.getDate() + 1);
      formatedDate = formatDate(currentDate);
    }

    document.querySelectorAll('.movie_date li').forEach((date) => {
      date.addEventListener('click', (e) => {
        let selectedDate = e.target.innerText;

        let screeningMovies = document.querySelectorAll('.screening_movie');
        for (let i = 0; i < screeningMovies.length; i++) {
          if (screeningMovies[i].dataset.screeningday === selectedDate) {
            screeningMovies[i].style.display = 'inline-block';
          } else {
            screeningMovies[i].style.display = 'none';
          }
        }
      });
    });

    document.querySelectorAll('.screening_movie').forEach((movie) => {
      movie.addEventListener('click', (e) => {
        const target = e.currentTarget;
      });
    });

    function formatDate(date) {
      const year = date.getFullYear(); // 연도
      const month = String(date.getMonth() + 1).padStart(2, '0'); // 월 (0부터 시작하므로 +1 필요)
      const day = String(date.getDate()).padStart(2, '0'); // 일

      return `${year}년 ${month}월 ${day}일`;
    }
  </script>
</html>
